
{% extends "dashboard/dashboard_template.html" %}

{%load static%}

{%block link2%}
<link rel="stylesheet" href="{% static 'dashboard/dashboard_notice.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

{%endblock%}



{%block right_sidebar%}

<div class="dashboard-notice">
    <h3>All Teacher</h3>
        <h6 class="add-new"><a href="{% url 'create_teacher'%}"> Add New Teacher</a></h6>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Teacher Name</th>
                            <th>Designation</th>
                            <th>Subject</th>
                            <th>Address </th>
                            <th>Phone Number </th>
                            <th>Edit/Remove</th>
                        </tr>
                        {%for i in teacher%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'teacher_details' i.id %}">{{i.name}}<a/></td>
                            <td>{{i.designation}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.phone_number}}</td>
                            <td><a href="{% url 'update_teacher' i.id %}"> <i class="fa-solid fa-pen-to-square ms-3 me-4" style="color: rgb(4, 66, 113);"></i></a>  <a href="{% url 'delete_teacher' i.id %}"> <i class="fa-regular fa-trash-can" style="color: rgb(1, 82, 144);"></i></a></td>
                        </tr>
                        {%endfor%}
                    </table>

</div>


{%endblock%}








