
{% extends "dashboard/dashboard_template.html" %}

{%load static%}

{%block link2%}
<link rel="stylesheet" href="{% static 'dashboard/dashboard_notice.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{%endblock%}



{%block right_sidebar%}

<div class="dashboard-notice">
    <h3>All Student</h3>
        <h6 class="add-new"><a href="{% url 'create_student'%}"> Add New Student</a></h6>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Student Name</th>
                            <th>Father's Name</th>
                            <th>Mother's Name</th>
                            <th>Address</th>
                            <th>Gardian's Contact No</th>
                            <th>Edit/Remove</th>
                        </tr>
                         {%for i in student%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'student_details' i.id %}">{{i.name}}<a/></td>
                            <td>{{i.father_name}}</td>
                            <td>{{i.mother_name}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.gardian_phone_number}}</td>
                            <td><a href="{% url 'update_student' i.id %}"> <i class="fa-solid fa-pen-to-square ms-3 me-4" style="color: rgb(4, 66, 113);"></i></a>  <a href="{% url 'delete_student' i.id %}"> <i class="fa-regular fa-trash-can" style="color: rgb(1, 82, 144);"></i></a></td>
                        </tr>
                        {%endfor%}
                    </table>

</div>


{%endblock%}








