{% extends "dashboard/dashboard_template.html" %}

{%load static%}

{% block link2%}
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}?v=2">
{%endblock%}

{%block right_sidebar%}

<div class="total">
    <div class="teacher">
        <table>
            <tr>
                <th>Total Teacher</th>
            </tr>
            <tr>
                <td>12 </td>
            </tr>
        </table>

    </div>
    <div class="student">
<table>
            <tr>
                <th>Total Student</th>
            </tr>
            <tr>
                <td> 12</td>
            </tr>
        </table>

    </div>
</div>


{%endblock%}